/* Style Sheet for the Basic Wiki */

.home_button
{
    display: inline-block;

    width: 15%;
    height: 100px;

    text-align: center;

    color: black;
    /*   border:3px solid black; */
    border-right: 3px solid black;
}

a.nav_button
{
    text-decoration: none;

    color: black;
}

#top_splash_two
{
    font: 2em/100px 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;

    display: block;
    clear: both
    position:fixed;

    height: 100px;

    text-align: center;

    border: 3px solid black;
    border-radius: 25px;
}

#nav_bar
{
    display: block;

    height: 50px;
    margin-top: 15px;

    text-align: center;

    border: 3px solid black;
    border-radius: 25px;
}

.nav_button
{
    font: 2em/50px 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;

    display: inline-block;

    width: auto;
    height: 50px;
    margin: 0 0 0 0;
    padding-right: 10px;
    padding-left: 10px;

    text-align: center;

    border-right: 3px solid black;
}

#last_nav_button
{
    border-right: none;
}

#wiki_leftCol
{
    float: left;

    width: 6em;
    margin-top: 1%;
    padding: 1%;

    border: 3px solid black;
    border-radius: 15px;
}

#wiki_body
{
    float: left;

    width: 75.4em;
    margin-top: 1%;
}

#wiki_rightCol
{
    float: right;

    width: 30em;
    height: 25.77em;
    margin-top: 1%;
}

#toc
{
    font: 18px 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;

    padding: 1%;

    list-style-type: none;

    text-align: center;
}

#wiki_img
{
    width: 29.5em;
    height: 25.77em;

    border: 3px solid black;
    border-radius: 15px;
}

#wiki_text
{
    float: left;
    overflow-y: auto;

    width: 75.4em;
    height: 48em;
    padding-left: 1em;
}

#ability_tab tr td:nth-child(-n+3)
{
   text-align:center;
}

#combo_tab tr td:nth-child(-n+4)
{
   text-align:center;
}
