/* Style Sheet for the Basic Wiki */

.home_button {
   display:inline-block;
   width:15%;
   height:100px;
/*   border:3px solid black; */
   border-right:3px solid black;
   color:black;
   text-align:center;
}

a.nav_button {
   text-decoration:none;
   color:black;
}

#top_splash_two {
   clear:both
   position:fixed;
   display:block;
   height:100px;
   border: 3px solid black;
   border-radius:25px;
   text-align:center;
   font: 2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#nav_bar {
   display:block;
   height:50px;
   border:3px solid black;
   border-radius:25px;
   margin-top:15px;
   text-align:center;
}

.nav_button {
   display:inline-block;
   height:50px;
   width:auto;
   padding-left:10px;
   padding-right:10px;
   margin:0px 0px 0px 0px;
   border-right:3px solid black;
   text-align:center;
   font: 2em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#last_nav_button {
   border-right:none;
}

#wiki_leftCol {
   float:left;
   border: 3px solid black;
   border-radius:15px;
   margin-top:1%;
   padding:1%;
   width:6em;
}

#wiki_body {
   margin-top:1%;
   float:left;
   position:relative;
   width:76.3em;
}

#wiki_rightCol {
   float:right;
   width:30em;
   margin-top:1%;
}

#toc {
   list-style-type:none;
   font: 18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
   text-align:center;
   padding:1%;
}

#wiki_img {
   border: 3px solid black;
   border-radius:15px;
}

#wiki_text {
   position:absolute;
   left:1%;
   top:0;
   overflow-y:auto;
   width:77em;
   height:48em;
}
